
/* ----------- Section 1 ------------ */

/* ----------- Section 2 ------------ */

/* ----------- Section 3 ------------ */

/* ----------- Section 4 ------------ */

/* ----------- Section 5 ------------ */

/* ----------- Section 6 ------------ */

/* ----------- Section 7 ------------ */



/* ----------- Footer ------------ */
.bg {
  background-color: #fff;
  color: #333;
}

.py-5 {
  padding: 4rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  border-top: 1px solid gray;
}
.footer h4,p {
  text-align: center;
}
.footer .social a {
  margin: 0 10px;
}

.fa-github:hover {
  color: #000000;
}

.fa-facebook:hover {
  color: #1773EA;
}

.fa-instagram:hover {
  color: #B32E87;
}

.fa-twitter:hover {
  color: #1C9CEA;
}


/* ------- To test sections ------*/
.cli {
  margin-top: 200px auto;
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
.sec {
  position:static;
  margin-top: 0px;
}
